{% extends 'base.html' %}

{% block title %}Login - WMS{% endblock %}

{% block login_content %}
<div class="d-flex justify-content-center align-items-center ">
    <div class="col-md-8 col-lg-4">
        <div class="card shadow">
            <div class="card-body">
                <h3 class="card-title text-center mb-4">Login</h3>
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <div class="d-grid gap-2 mt-3">
                        <button type="submit" class="btn btn-primary w-100">Login</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
